.banner {
    background-color: #fceae8;
}

.price {
    color: #FF136F;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.categories {
    width: 100px;
}

.watch {
    color: #fceae8;
    font-style: bold;
}

.cat1 {
    background-color: orange;
}

.cat2 {
    background-color: orchid;
}

.cat3 {
    background-color: blue;
}